.allCoinsHeader{
    margin: auto;
}

.coinListHeader ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 32px 0;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px #29D98D;
    font-size: 21px;
}

.coinListHeader li{
    display: inline;
    font-weight: bold;
}

.coinListHeader li:nth-child(1){
    padding-left: 30px;
}

.coinListHeader li:nth-child(7){
    padding-right: 30px;
}

.coinsInfos ul{
    margin:0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    box-shadow: 0px 3px 2px #29D98D;
    font-size: 21px;
}

.coinsInfos li{
    display: inline-flex;
}

.coinsInfos li:nth-child(1){
    padding-left: 30px;
}

.coinsInfos li:nth-child(7){
    padding-right: 30px;
}

.coinInfos:hover{
    background-color: red;
}