.coinDetailsDiv{

}

.coinDayHistory{
    margin-top: 20px;
    margin-bottom: 20px;
}

.coinValorization{
    display: flex;
    justify-content: space-between;
}

.coinHeader{
    display: flex;
    border-bottom: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headerCoinName{
    display: inline-block;
    justify-content: center;
}

.headerImage{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.mainInfos{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.coinHistoryHeader ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 32px 0;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px #29D98D;
    font-size: 21px;
    font-weight: bold;
}

.coinHistoryHeader li{
    display: inline;
}

.coinHistoryHeader li:nth-child(1){
    padding-left: 30px;
}

.coinHistoryHeader li:nth-child(5){
    padding-right: 30px;
}

.coinHistoryInfo ul{
    margin:0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    box-shadow: 0px 3px 2px #29D98D;
    font-size: 21px;
}

.coinHistoryInfo li{
    display: inline;
}

.coinHistoryInfo li:nth-child(1){
    padding-left: 30px;
}

.coinHistoryInfo li:nth-child(5){
    padding-right: 30px;
}