.header {
  display: flex;
  color: #0cae00;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px #0cae00 solid;
  padding-left: 50px;
  position: fixed;
  width: 100%;
  background-color: white;
  max-height: 65px;
  z-index: 100;
}

.siteLogoStyle{
  align-self: center;
  max-height: 60px;
}

.siteTitle {
  font-weight: bold;
  font-size: 3em;
  width: 65%;
  overflow: hidden;
  align-self: center;
  color: #0cae00;
  text-decoration: none;
}

.siteTitle:hover {
  color: #0cae00;
  text-decoration: none;
}

.siteTitle p {
  margin: 0;
  padding: 0;
}

.auth-btn {
  display: flex;
  align-items: center;
  min-width: fit-content;
  width: 5%;
  margin: 0px 5px;
  background-size: 100% 200%;
  background-image: linear-gradient(transparent 50%, #0cae00 50%);
  -webkit-transition: background-position 0.4s;
  -moz-transition: background-position 0.4s;
  transition: background-position 0.4s;
  text-align: center;
  color:rgb(12, 174, 0);
  font-weight: bold;
}

.auth-btn:hover{
  cursor: pointer;
  background-position: 0 100%;
  color:white;
  font-weight: bold;
  text-decoration: none;
}
