.searchBarInput{
    height: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 6px #0CAE00;
    text-indent: 50px;
    border: 0;
    outline: none;
    font-size: larger;
    width: 30%;
    background: url(../images/searchIcon.png) no-repeat;
    background-position: 15px 12px;
    background-size: 20px;
    transition: all ease 0.3s;
    margin-bottom: 20px;
}

.searchBarInput:focus {
    width: 100%;
}