.tabsDiv{
    display: flex;
    margin-bottom: 15px;
}

.activeButton{
    border-radius: 15px;
    background-color: #0CAE00;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border: 0;
    outline: none;
}

.disabledButton{
    background-color: transparent;
    color: #8F8C8C;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border: 0;
    outline: none;
}

.disabledButton:hover{
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 6px #0CAE00;
}